<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_图层-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{148,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0001_图层-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{148,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0002_图层-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0003_图层-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,152},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0004_图层-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0005_图层-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,152},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0006_图层-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0007_图层-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0008_图层-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,152},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0009_图层-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>_0010_图层-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{142,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d94a5d4bd6d676c4135572d6cd666fd$</string>
            <key>textureFileName</key>
            <string>12.png</string>
        </dict>
    </dict>
</plist>
