<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>表情_0010_face8_anims_i6p-i6p_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,754},{146,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{146,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0011_face8_anims_i6p-i6p_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{148,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0012_face8_anims_i6p-i6p_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,458},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0013_face8_anims_i6p-i6p_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{148,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0014_face8_anims_i6p-i6p_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{140,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{140,144}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0015_face8_anims_i6p-i6p_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{140,162}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0016_face8_anims_i6p-i6p_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,604},{144,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0017_face8_anims_i6p-i6p_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,454},{144,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0018_face8_anims_i6p-i6p_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,304},{144,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0019_face8_anims_i6p-i6p_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{144,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0020_face8_anims_i6p-i6p_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,154},{144,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0021_face8_anims_i6p-i6p_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,762},{146,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{146,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0022_face8_anims_i6p-i6p_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,306},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0023_face8_anims_i6p-i6p_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{146,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0024_face8_anims_i6p-i6p_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{146,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0025_face8_anims_i6p-i6p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,774},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0026_face8_anims_i6p-i6p_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{146,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0027_face8_anims_i6p-i6p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{148,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{148,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0028_face8_anims_i6p-i6p_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,622},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0029_face8_anims_i6p-i6p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{146,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0030_face8_anims_i6p-i6p_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{146,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0031_face8_anims_i6p-i6p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,610},{144,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{144,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0032_face8_anims_i6p-i6p_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{146,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0033_face8_anims_i6p-i6p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{148,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:470bce9e67f930f9911346fd54c13aff$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
