<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>表情_0034_face7_anims_i6p-i6p_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0035_face7_anims_i6p-i6p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0036_face7_anims_i6p-i6p_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,298},{142,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{142,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0037_face7_anims_i6p-i6p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0038_face7_anims_i6p-i6p_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,298},{142,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{142,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0039_face7_anims_i6p-i6p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0040_face7_anims_i6p-i6p_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{142,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{142,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0041_face7_anims_i6p-i6p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0042_face7_anims_i6p-i6p_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{140,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{140,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0043_face7_anims_i6p-i6p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab3392934279da6dfc6fd838c37bb4a3$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
