<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>表情_0044_face6_anims_i6p-i6p_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0045_face6_anims_i6p-i6p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0046_face6_anims_i6p-i6p_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,444},{144,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0047_face6_anims_i6p-i6p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0048_face6_anims_i6p-i6p_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0049_face6_anims_i6p-i6p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,298},{144,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0050_face6_anims_i6p-i6p_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0051_face6_anims_i6p-i6p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0052_face6_anims_i6p-i6p_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,298},{144,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{144,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0053_face6_anims_i6p-i6p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ebe635af8d8f43ce94589dd3063273$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
