<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>表情_0064_face4_anims_i6p-i6p_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,454},{146,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{146,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0065_face4_anims_i6p-i6p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,306},{154,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{154,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0066_face4_anims_i6p-i6p_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,154},{158,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0067_face4_anims_i6p-i6p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{158,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0068_face4_anims_i6p-i6p_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{156,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{156,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0069_face4_anims_i6p-i6p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{156,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{156,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0070_face4_anims_i6p-i6p_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0071_face4_anims_i6p-i6p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0072_face4_anims_i6p-i6p_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,154},{156,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0073_face4_anims_i6p-i6p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{158,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0eb657ecd503ed41e2716a9db85816a$</string>
            <key>textureFileName</key>
            <string>7.png</string>
        </dict>
    </dict>
</plist>
