<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>表情_0074_face3_anims_i6p-i6p_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0075_face3_anims_i6p-i6p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,454},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{144,138}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0076_face3_anims_i6p-i6p_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,154},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0077_face3_anims_i6p-i6p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,154},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0078_face3_anims_i6p-i6p_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{152,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0079_face3_anims_i6p-i6p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{152,146}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0080_face3_anims_i6p-i6p_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0081_face3_anims_i6p-i6p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0082_face3_anims_i6p-i6p_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>表情_0083_face3_anims_i6p-i6p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{156,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dedc44e90bac94e264c6a0cf2e33431$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
