<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 - 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,198},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,42},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{39,44}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,83},{38,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,86},{30,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{30,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,34},{30,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,478},{32,42}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{32,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,123},{28,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{28,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{30,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,66},{30,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{30,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,86},{30,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,46},{30,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{46,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,118},{28,42}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{28,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{38,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{38,48}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,476},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{34,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{38,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,118},{30,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{30,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,477},{30,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,478},{32,42}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{32,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,98},{28,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{28,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,477},{30,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,386},{87,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{87,88}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,92},{30,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{30,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,479},{30,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{30,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{30,44}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,42},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{46,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{28,42}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{28,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{38,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{38,48}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,476},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{34,42}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{91,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{91,88}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,194}}</string>
                <key>sourceSize</key>
                <string>{142,194}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,386},{89,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{89,80}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,386},{85,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{85,90}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,153},{37,36}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{37,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,148},{37,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{37,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,128},{39,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,36}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>11.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:707f04b55e0698b547b49071d86875c2$</string>
            <key>textureFileName</key>
            <string>11.png</string>
        </dict>
    </dict>
</plist>
